<% include ../partials/header %>

<div class="text-center">
  <h1>Listerlyify</h1>
  <h4>Make Twitter Lists Awesome</h4>
</div>

<div class="text-center">
  <p>
    It looks like you chose not to authorize Listerlyify for access to your
    Twitter account. If you think there was an error, please return to the home
    page and try logging in again.<br>
    <br>
    If you chose not to allow Listerlyify access to your Twitter account, you
    unfortunately won't have access to edit or share your Twitter lists here,
    but please feel free to browse through our most popular shared lists.
  </p>
</div>

<% include ../partials/footer %>
