<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Listerlyify</title>

    <!--
        Licensing and Rights Attribution

        THEME
            # [Start Bootstrap](http://startbootstrap.com/) - [Landing Page](http://startbootstrap.com/template-overviews/landing-page/)

            [Landing Page](http://startbootstrap.com/template-overviews/landing-page/) is a multipurpose landing page template for [Bootstrap](http://getbootstrap.com/) created by [Start Bootstrap](http://startbootstrap.com/).

            ## Getting Started

            To use this template, choose one of the following options to get started:
            * Download the latest release on Start Bootstrap
            * Fork this repository on GitHub

            ## Bugs and Issues

            Have a bug or an issue with this template? [Open a new issue](https://github.com/IronSummitMedia/startbootstrap-landing-page/issues) here on GitHub or leave a comment on the [template overview page at Start Bootstrap](http://startbootstrap.com/template-overviews/landing-page/).

            ## Creator

            Start Bootstrap was created by and is maintained by **David Miller**, Managing Parter at [Iron Summit Media Strategies](http://www.ironsummitmedia.com/).

            * https://twitter.com/davidmillerskt
            * https://github.com/davidtmiller

            Start Bootstrap is based on the [Bootstrap](http://getbootstrap.com/) framework created by [Mark Otto](https://twitter.com/mdo) and [Jacob Thorton](https://twitter.com/fat).

            ## Copyright and License

            Copyright 2013-2015 Iron Summit Media Strategies, LLC. Code released under the [Apache 2.0](https://github.com/IronSummitMedia/startbootstrap-landing-page/blob/gh-pages/LICENSE) license.

        PHOTOS
            Thanks to Death to the Stock Photo - http://join.deathtothestockphoto.com/ for providing the photographs that you see in this template. Visit their website to become a member.

        FONTS AND ICONS
            This template features the 'Lato' font, part of the Google Web Font library - http://www.google.com/fonts.
            This template also uses icons from Font Awesomse - http://fontawesome.io - Font Awesome by Dave Gandy - http://fontawesome.io

        PLUGINS
            This website makes heavy use of Data Tables an awesome open-source software copyrighted under the MIT License. Copyright (C) 2008-2015, SpryMedia Ltd. - http://www.datatables.net/license/mit

    -->

    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="//cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <!-- DataTables Fixed Columns CSS -->
    <link href="//cdn.datatables.net/fixedcolumns/3.0.4/css/dataTables.fixedColumns.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="/css/landing-page.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- SCRIPTS -->
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- Boostrap JS -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.js"></script>
    <!-- DataTables FixedColumns JS -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/fixedcolumns/3.0.4/js/dataTables.fixedColumns.min.js"></script>
    <!-- Epic Editor -->
    <script src="/js/epiceditor.min.js"></script>
    <!-- Local JS -->
    <script src="/js/script.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Listerlyify</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li id="browse">
                        <a href="/list/browse">Browse Lists</a>
                    </li>
                    <% if(luser) { %>
                        <li id="mylists">
                            <a href="/list/mylists">My Lists</a>
                        </li>
                        <li id="listeditor">
                            <a href="/list/listeditor">Edit Lists</a>
                        </li>
                        <li id="logout">
                            <a href="/auth/logout">Logout</a>
                        </li>
                        <li>
                            <img src="<%=luser._json.profile_image_url%>" class="img-responsive" alt="Image">
                        </li>
                    <% } else { %>
                        <li id="login">
                            <a href="/auth/twitter"><i class="fa fa-twitter fa-fw"></i>Login with Twitter</a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
