<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Listerlyify</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- STYLESHEETS -->
    <!-- Boostrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <!-- DataTables ColReorder CSS -->
    <!-- <link href="https://cdn.datatables.net/colreorder/1.1.3/css/dataTables.colReorder.css" rel="stylesheet" type="text/css"> -->
    <!-- DataTables ColVis CSS -->
    <!-- <link href="https://cdn.datatables.net/colvis/1.1.2/css/dataTables.colVis.css" rel="stylesheet" type="text/css"> -->
    <!-- DataTables FixedHeader CSS -->
    <!-- <link href="https://cdn.datatables.net/fixedheader/2.1.2/css/dataTables.fixedHeader.css" rel="stylesheet" type="text/css"> -->
    <!-- DataTables Fixed Columns CSS -->
    <link href="https://cdn.datatables.net/fixedcolumns/3.0.4/css/dataTables.fixedColumns.css" rel="stylesheet" type="text/css">
    <!-- DataTables Bootstap Theme -->
    <!-- <link href="https://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css"> -->
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- SCRIPTS -->
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- Boostrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.js"></script>
    <!-- DataTables ColReorder JS -->
    <!-- // <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/colreorder/1.1.3/js/dataTables.colReorder.min.js"></script> -->
    <!-- DataTables ColVis JS -->
    <!-- // <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/colvis/1.1.2/js/dataTables.colVis.min.js"></script> -->
    <!-- DataTables FixedHeader JS -->
    <!-- // <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedheader/2.1.2/js/dataTables.fixedHeader.min.js"></script> -->
    <!-- DataTables FixedColumns JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.0.4/js/dataTables.fixedColumns.min.js"></script>
    <!-- DataTables Bootstrap Theme JS -->
    <!-- // <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.6/integration/bootstrap/3/dataTables.bootstrap.js"></script> -->
    <!-- Local JS -->
    <script src="/js/script.js"></script>

</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Listerlyify</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/list/shared" class="padtop">Browse Shared Lists</a></li>
          <!-- <li><p><%#user.token%></p></li> -->
          <% if(!luser) { %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/auth/twitter" class="btn btn-primary">Login with Twitter</a>
                  </li>
                </ul>
            </li>
          <% } else { %>
            <li><a href="/list/listeditor" class="padtop">Edit Lists</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="<%=luser._json.profile_image_url%>" class="img-responsive" alt="Image"></a>
                <ul class="dropdown-menu">
                  <li class="divider"></li>
                  <li><a href="/auth/logout">Logout</a></li>
                </ul>
            </li>
          <% } %>
        </ul>
      </div><!-- /.navbar-collapse -->
  </nav>

