<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Listerlyify</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- STYLESHEETS -->
    <!-- Boostrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Google Font -->
<!--     <link href='http://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'> -->

  <!-- SCRIPTS -->
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- Boostrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Epic Editor -->
<!--     <script src="/js/epiceditor.min.js"></script> -->
    <!-- Local JS -->
    <script src="/js/script.js"></script>

</head>
<body>

  <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Listerlyify</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/favorites">Favorites</a></li>
        </ul>
        <%# if(!luser) { %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                <form class="dropdown-menu" action="/auth/login" method="post">
                  <div class="form-group">
                    <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
                  <a href="/auth/signup" class="pull-right">Sign Up</a>
                </form>
            </li>
          </ul>
        <%# } else { %>
<!--           <ul class="nav navbar-nav navbar-right">
            <li><a href="/auth/logout">Logout</a></li>
          </ul> -->
        <%# } %>
        <form class="navbar-form navbar-right" action="/movies" method="get" role="search">
          <div class="form-group">
            <input type="text" name="q" class="form-control" placeholder="Search for a movie">
          </div>
          <input type="submit" value="Search" class="btn btn-primary">
        </form>
      </div><!-- /.navbar-collapse -->
  </nav>

