body {
/*  background-color: #E5E5E5;*/
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.glyph {
  border: none;
  background: none;
  font-size: 150%;
  color: #DADADA;
}

.glyph:hover {
  font-size: 200%;
}
.glyph .green {
  color: green;
}
