body {
  overflow-x: hidden;
}

td.following {
  width: 200px;
}

form.member .form-group {
  margin-bottom: 5px;
}

form.add-comment {
  margin-top: 35px;
}

.navbar img {
  border-radius: 5px;
}

table img {
  border-radius: 5px;
}

table#listshow .form-group {
  margin-bottom: 0px;
}

.alert {
  position: fixed;
  margin-top: 70px;
}

.topnav .navbar-brand {
  font-size: 18px;
}

.header-space {
  height: 70px;
}

.row {
  margin-bottom: 20px;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
}

.glyph {
  border: none;
  background: none;
}

.glyphicon {
  font-size: 150%;
  color: #DADADA;
}

.glyphicon:hover {
  font-size: 225%;
}
.glyphicon.green {
  color: green;
}

table button:focus {
    outline: none;
}

.sl {
  float: left;
  margin-left: 10px;
  vertical-align: middle;
  line-height: 45px;
}

.comment-info {
  color: #A7A7A7;
  margin-bottom: 20px;
}

#screen_name {
  float: left;
}

#created_at {
  float: right;
}
