body {
/*  background-color: #E5E5E5;*/
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.glyph {
  border: none;
  background: none;
  font-size: 150%;
}

.glyph:hover {
  font-size: 180%;
}
.green {
  color: green;
}
