<% include ../partials/header %>

<% include ../partials/alerts %>

<div class="header-space"></div>

<div class="container">
  <h1>Creator</h1>
  <p>Listerlyify was made by Nick Cronquist. I am a web developer living in Seattle who wants to build user privacy apps, information security apps, or just awesome tools to make things easier for people. In my free time, I enjoy reading, skiing, hanging out with my cat, and cleaning.</p>
  <p>Feel free to check out on:</p>
  <ul>
    <li><a href="https://github.com/ncronquist">Github</a></li>
    <li><a href="https://twitter.com/nicholaibee">Twitter</a></li>
    <li><a href="https://linkedin/in/ncronquist">LinkedIn</a></li>
  </ul>

  <h1>About Listerlyify</h1>
  <p>Listerlyify is completely free and open-source software created because I enjoy consuming Twitter content and wanted a better way to manage my lists. For more technical information on Listerlyify check out the <a href="https://github.com/ncronquist/listerlyify">Github</a> page.</p>

  <h1>Feedback</h1>
  <p>Listerlyify is still under development and I know about a lot of issues, but I would love feedback on the user experience and help finding bugs. Please consider taking the time to create issues on the Listerlyify <a href="https://github.com/ncronquist/listerlyify/issues">Github issues </a> page. If you would like to contribute code to Listerlyify, checkout the Github <a href="#">contributing</a> page.
</div>

<% include ../partials/footer %>
