<% include ../partials/header %>

<div class="text-center">
  <h1>Listerlyify</h1>
  <h4>Make Twitter Lists Awesome</h4>
</div>

<div class="text-center">
  <a href="/auth/twitter" class="btn btn-primary">Login with Twitter</a>
  <p>
    Clicking this button will redirect <br>
    you to Twitter to authorize Listerlyify
  </p>
</div>

<% include ../partials/footer %>
